Django==5.1.7
djangorestframework==3.15.1
django-cors-headers==4.4.0
gunicorn==22.0.0
requests==2.32.3
torch==2.8.0
timm==0.6.13 # This version might need adjustment depending on your model
Pillow==10.4.0 